<!-- home.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="form-container">
    <h2>Welcome to Home Page</h2>
    <div class="dashboard-card">
        <p>This is a simple home page for regular users.</p>
    </div>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="button">Logout</button>
    </form>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>